/*CSS RESET - SCROLL DOWN*/

* {
  font-family: sans-serif;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*----------------------------------------------------------------------------------------------*/
/*BEGINNING OF MY CSS AFTER RESET*/
/*----------------------------------------------------------------------------------------------*/
body {
  background-color: rgba(179, 252, 155, 0.219);
}

header {
  background-color: rgba(186, 218, 175, 0.918);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 3em;
  text-align: center;
  position: fixed;
  margin-top: -5.5em;
  margin-left: auto;
}
main {
  margin-top: 6em;
  text-align: center;
  height: auto;
}
.nav-container {
  align-items: center;
  height: 3em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.75em;
}
.navlist {
  list-style: none;
  display: inline-flex;
  margin-left: 2em;
}
.navlink {
  margin-right: 10em;
  margin-top: -1rem;
  padding-top: 0.2em;
  width: auto;
  height: 3rem;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 10pt;
  display: inline-block;
}
.title-banner {
  height: 40rem;
  background-image: url("forest-image.jpeg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  padding-top: 8.5em;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.title-container {
  background-color: rgba(186, 218, 175, 0.678);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 6em;
  color: rgba(0, 0, 0, 0.781);
}
.welcome {
  font-size: 24pt;
}
.insta {
  float: right;
  display: flex;
  height: 3em;
  width: 3em;
  border-color: transparent;
  background-color: transparent;
  border-radius: 5px;
  margin-top: -3.4em;
  margin-right: 3rem;
}
.insta-logo {
  border-radius: 7px;
}

a,
a:link {
  text-decoration: none;
  color: rgba(110, 110, 110, 0.788);
}
a:visited {
}
a:hover {
  color: rgb(56, 80, 74);
}
.specializations {
  margin-top: 4em;
  font-size: 16pt;
  background-color: rgba(186, 218, 175, 0.678);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 0em 1em 0em;
}
.specializations-list {
  list-style: none;
}

.main-description {
  width: 75%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  background-color: rgba(186, 218, 175, 0.678);
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 16pt;
}

.description {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  line-height: 31pt;
}
.buttons {
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 85%;
  align-items: center;
  display: inline-flex;
  background-color: rgba(186, 218, 175, 0.678);
  margin-bottom: 10em;
  border: solid 1pt black;
  border-radius: 15px;
  padding-left: 4em;
  padding-right: 4em;
}
.button-label {
  background-color: rgba(186, 218, 175, 0.932);
  height: fit-content;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  border: solid 1pt black;
  border-radius: 8px;
  display: inline-block;
}
button {
  height: 20em;
  width: 30em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  margin-top: 2em;
  border: solid 1pt black;
  border-radius: 15px;
}
.button-1 {
  background-image: url(germinating-seeds-in-soil.jpeg);
  background-size: 40em;
  background-position-x: 50%;
  background-attachment: absolute;
}
.button-2 {
  background-image: url(plant1.jpeg);
  background-size: 40em;
  background-attachment: absolute;
}
.button-3 {
  background-image: url(tree.jpeg);
  background-size: 30em;
  background-attachment: absolute;
  background-repeat: no-repeat;
}
section {
  border-radius: 15px;
}

footer {
  text-align: center;
  background-color: rgba(186, 218, 175, 0.767);
  width: 100%;
  padding-bottom: 4em;
  padding-top: 2em;
}
.crisis {
  font-size: 18pt;
}
/*-----------------------------------------------------------------------------------------------*/
/*Scheduling page CSS*/
.schedule-page {
  background-image: url(forest-image.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.two-column-container {
  height: 60em;
  width: 75%;
  column-count: 2;
  column-gap: 6em;
  padding-top: 7em;
  margin-left: auto;
  margin-right: auto;
}

.left-column-container {
  display: block;
  background-color: rgba(186, 218, 175, 0.918);
  height: 40em;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.right-column-container {
  display: block;
  background-color: rgba(186, 218, 175, 0.918);
  height: 40em;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 15px;
}

.left-column {
  line-height: 20pt;
}

.right-column {
}
.input-header {
  margin-top: 1.5em;
  width: 100%;
}
#email-input {
  width: 80%;
  margin-top: 1em;
  text-align: left;
}
#message-input {
  width: 80%;
  height: 15em;
  margin-top: 1em;
}

#message-input::placeholder {
}
.input-submit {
  height: 2.25em;
  width: 8em;
  border-radius: 5px;
}
hr {
  margin-top: 4em;
  margin-bottom: 4em;
  border: solid 1pt rgb(80, 79, 79);
}
.other-hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
/*-----------------------------------------------------------------------------------------------*/
/*About page CSS*/
.about-body {
  background-image: url(forest-image.jpeg);
  background-attachment: fixed;
}
.about-main {
  columns: 2;
  margin-bottom: 100px;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  column-gap: 25px;
}
.about-left {
  background-color: rgba(186, 218, 175, 0.9);
  border-radius: 15px;
  height: 1250px;
  padding: 30px;
  line-height: 23pt;
  text-align: left;
  text-indent: 25pt;
}
.left-headings {
  text-align: center;
  text-indent: 0px;
}
.about-right {
  background-color: rgba(186, 218, 175, 0.9);
  border-radius: 15px;
  height: 1250px;
  padding-top: 50px;
}
.jon-image {
  height: auto;
  width: 75%;
  border-radius: 15px;
  margin-left: 12.5%;
}
.right-column-about {
  margin-top: 100px;
  font-family: cursive;
}
/*-----------------------------------------------------------------------------------------------*/
/*Therapy page CSS*/
.therapy-main {
  column-count: 2;
  column-gap: 35px;
  margin-bottom: 100px;
}
.left-column-therapy {
  height: 1000px;
  width: 75%;
  margin-left: auto;
  line-height: 30pt;
  text-align: left;
  text-indent: 30pt;
  padding: 0px 15px 0px 25px;
}
.therapy-heading {
  text-align: center;
  text-indent: 0px;
  text-decoration: underline;
  padding-top: 15px;
  padding-bottom: 25px;
}
.right-column-therapy {
  height: 1000px;
  width: 75%;
  margin-right: auto;
  padding-top: 25px;
}
.quote-therapy {
  font-family: cursive;
  font-size: 22pt;
  padding-top: 30px;
}
.bridge-image {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
/*-----------------------------------------------------------------------------------------------*/
/*FAQ page CSS*/

/*-----------------------------------------------------------------------------------------------*/
/*Mobile Optimization*/
@media (max-width: 1000px) {
  body {
    text-align: center;
    width: 100vw;
    font-size: 14pt;
  }
  header {
    width: 100%;
    height: 75px;
    position: fixed;
  }
  main {
    width: 100vw;
    margin-left: 13%;
    margin-right: auto;
  }
  .nav-container {
    height: fit-content;
    width: 75%;
    margin-left: 2%;
    margin-right: auto;
  }
  .navlist {
    margin-right: 5px;
    height: fit-content;
    text-align: center;
  }
  .navlink {
    margin-right: 3px;
    background-color: white;
    display: inline-flex;
    height: fit-content;
    padding-top: 8px;
  }
  .insta {
    float: left;
    display: flex;
    height: 10%;
    width: 10%;
    border-radius: 4px;
    border-color: transparent;
    background-color: transparent;
    margin-left: 7px;
    margin-top: 25px;
  }
  .title-banner {
    height: 100vh;
    background-image: url("forest-image.jpeg");
    background-size: 80vh;
    background-repeat: no-repeat;
    background-position-x: 50%;
    padding-top: 85px;
    align-items: center;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    border-radius: 0px;
  }
  .title-container {
    background-color: rgba(186, 218, 175, 0.678);
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 15px 25px 15px;
    margin-top: 33vh;
    color: rgba(0, 0, 0, 0.781);
  }
  .welcome {
    font-size: 24pt;
    padding: 5px 15px 5px 15px;
  }
  .main-description {
    height: auto;
    padding: 25px 30px 50px 25px;
    width: 90%;
  }
  .buttons {
    margin-top: 50px;
    margin-left: -25vw;
    margin-right: 0vw;
    height: auto;
    width: fit-content;
    align-items: center;
    display: block;
    background-color: rgba(186, 218, 175, 0.678);
    margin-bottom: 150px;
    border: solid 1pt black;
    border-radius: 15px;
    padding-left: 20vh;
    padding-right: 20vh;
  }
  .button-label {
    background-color: rgba(186, 218, 175, 0.87);
    height: fit-content;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    border: solid 1pt black;
    border-radius: 8px;
  }
  button {
    height: 150px;
    width: 200px;
    margin-left: 23px;
    margin-right: 23px;
    margin-bottom: 50px;
    margin-top: 50px;
    border: solid 1pt black;
    border-radius: 15px;
  }
  .button-1 {
    background-image: url(germinating-seeds-in-soil.jpeg);
    background-size: 150%;
    background-position-x: 50%;
  }
  .button-2 {
    background-image: url(plant1.jpeg);
    background-size: 150%;
  }
  .button-3 {
    background-image: url(tree.jpeg);
    background-size: 135%;
  }
  footer {
    width: 90%;
    display: block;
    margin-left: 12%;
    margin-right: auto;
  }
}
